.login {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
  padding: 20px;
}

.login h1 {
  font-size: 28px;
  font-weight: 500;
}

.login p {
  font-size: 18px;
  color: #1D2226;
  line-height: 26px;
  opacity: 0.6;
  letter-spacing: 0;
  padding-bottom: 19px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input{
  height: 40px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #CBCBCB;
  background-color: transparent;
  border-radius: 6px;
}

.input-container input::placeholder {
  font-size: 14px;
  color: #919191;
}

.input-container input:hover {
  border-color: grey;
}

.input-container label {
  position: absolute;
  top: -8px;
  left: 8px;
  color: #6C25FF;
  background-color: #F7F8F9;
  padding: 0px 2px 0px 2px;
  font-size: 13px;
  pointer-events: none;
}

.login-btn {
  width: 100%;
  height: 46px;
  color: #ffffff;
  background-color: #CBCBCB;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #6C25FF;
  transition: background-color 0.2s ease;
}